body {
  font-family: "Open Sans", sans-serif;
}
.head {
  background-color: #000;
}
/*navbar*/
.navbar-toggler-icon {
  background-color: #000;
  border-radius: 20px;
}
.navbar {
  transition: all 0.4s;
}

.navbar .nav-link {
  color: #fff;
}

.navbar .nav-link:hover,
.navbar .nav-link:focus {
  color: #fff;
  text-decoration: none;
}

.navbar .navbar-brand {
  color: #fff;
}

/*name*/
.vid {
  width: 100%;
  height: 70vh;
  position: relative;
}

.vid video {
  width: 100%;
  height: 70vh;
}

.txt {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #000;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  mix-blend-mode: multiply;
  flex-direction: column;
}
.txt h1 {
  font-size: 900%;
  font-weight: 750;
  color: #fff;
}

.txt h2 {
  font-size: 800%;
  font-weight: 700;
  color: #fff;
}

.blink {
  animation: blink 1s steps(1, end) infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* Change navbar styling on scroll */
.navbar.active {
  background: #fff;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar.active .nav-link {
  color: rgb(54, 54, 54);
}

.navbar.active .nav-link:hover,
.navbar.active .nav-link:focus {
  color: rgb(3, 3, 3);
  text-decoration: none;
}

.navbar.active .navbar-brand {
  color: #555;
}


/*transition
.layer1 {
  aspect-ratio: 900/50;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("../assets/layer1.svg");
}

.layer2 {
  aspect-ratio: 900/300;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("../assets/layer2.svg");
}
*/
/*about*/
.about {
  width: 100%;
  height: 80vh;
  position: relative;
  background-color: #001220;
}

.abt h1 {
  color: #fff;
  font-size: 4rem;
  font-weight: 700;
  line-height: 4rem;
}

.abt h2 {
  color: #fff;
  font-size: 2.5rem;
  font-weight: 580;
  line-height: 4rem;
}

.abt h2 .highlight {
  font-size: 3rem;
  color: rgb(255, 134, 78);
}

.cent {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*transition
.layer3 {
  aspect-ratio: 900/100;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("../assets/layer3.svg");
}
*/

/*work*/
.work {
  width: 100%;
  height: 90vh;
  position: relative;
  background-color: #fa7268;
}

.work h1 {
  text-align: center;
}

/*contact*/

/*transition
.layer4 {
  aspect-ratio: 900/100;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("../assets/layer4.svg");
}

*/
.contact {
  width: 100%;
  height: 80vh;
  position: relative;
  background-color: #001220;
}

.contact h1 {
  text-align: center;
  padding-bottom: 3%;
}
.cont{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.cont h3{
  font-size: 2.6rem;
  font-weight: 600;
  padding: 3% 0 3% 0;
}
.cont a:link{
  text-decoration: none;
}
/*
.fa-github{
  position: absolute;
  transform: translateX(90px);
}
.fa-linkedin-in{
  position: absolute;
  transform: translateX(-20px);
}
.icon{
  color: white;
}
*/


/* Change  styling on small viewports */
@media only screen and (max-width: 991.98px) {
  .navbar {
    background: #fff;
  }

  .navbar .navbar-brand,
  .navbar .nav-link {
    color: rgb(51, 51, 51);
  }

  .txt h1 {
    font-size: 5rem;
  }

  .txt h2 {
    font-size: 5rem;
  }

  .abt h1{
    font-size: 2.5rem;
    line-height: 0rem;
  }
  .abt h2{
    font-size: 2rem;
    line-height: 2.3rem;
  }
  .abt h2 .highlight{
    font-size: 2.2rem;
  }
  .cont h3{
    font-size: 1.8rem;
  }
}
@media only screen and (max-width: 420px) {
  .navbar {
    background: #fff;
  }

  .navbar .navbar-brand,
  .navbar .nav-link {
    color: rgb(51, 51, 51);
  }

  .txt h1 {
    font-size: 3rem;
  }

  .txt h2 {
    font-size: 3rem;
  }
  .abt h1{
    font-size: 2rem;
    line-height:0rem;
  }
  .abt h2{
    font-size: 1.3rem;
    line-height: 1.5rem;
  }
  .abt h2 .highlight{
    font-size: 1.5rem;
  }
  .cont h3{
    font-size: 1.2rem;
  }
}
